<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image"> <!--The image is defined in JS main file. In order to acheive that, we use "v-bind:". The short hand is just colon :-->
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="Instock">In Stock</p>
            <p v-else>Out of Stock</p>
            <p v-if="Onsale">On Sale</p>
            <ul>
              <li v-for="size in sizes"> {{ size }}</li> <!--This v-for method is used to render the lists-->
            </ul>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
